/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

li{
    list-style-type: none;;
}

a{
    text-decoration: none;
    color: #656565;
    font-weight: bold;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 100px);


    background-color: chocolate;
}

/* ASIDE */
aside{
    width: 300px;
    height: 100%;
    float: left;
    background-color: #000000;
}

.nav{
    width: 85%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav *{
    margin: 4px 0;
}

.logo{
    width: 100%;
    height: 100px;
    margin: 0;
}

.logo img{
    width: 65%;
    height: 100px;
}
.menu-home-search{
    margin-bottom: 30px;
}

.menu-home-search img, .useraccount-download img{
    width: 13%;
    vertical-align: middle;
}

.bookshelf{
    flex-grow: 1;
    overflow: hidden;
}

.new-list{
    overflow-y: auto;
    height: 100%;
}

.bookshelf ul li{
    margin: 20px 0;
}

.creaplaylist-btn{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.creaplaylist-btn i{
    background: #a3a3a3;
    padding: 7px 10px;
    font-size: 30px;
    color: black;
    margin-right: 15px;
}

.useraccount-download{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* MAIN-SECTION */
.main-section{
    width: calc(100% - 300px);
    height: 100%;
    float: left;
    background-color: #141922;
}

/* UPGRADE-BTN */
.upgrade-btn{
    width: calc(100% - 300px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade-btn a{
    padding: 12px 40px;
    border: 1px solid #fcfcfc;
    border-radius: 20px;
    font-size: 12px;
    margin: 0 10px;
}

/* MAIN-CONTENT */
.main-content{
    padding-top: 120px;
    width: 95%;
    height: 100%;
    margin: auto;
    overflow-y: auto;
}

.main-content-nav ul{
    display: flex;
    justify-content: center;
}

.main-content-nav li{
    margin: 0 10px;
}

.main-content-nav li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

/* .main-content-nav li a p{
    width: 10px;
    height: 1px;
    border-bottom: 1px solid greenyellow;
    display: none;
}

.main-content-nav li a p:hover{
    display: inline;
} */

/* ALBUMS */
.albums{
    margin: 40px 0;
}

.albums-section{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.album-content{
    width: calc((100% / 6) - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.album-content h4{
    margin: 15px 0 7px;
    color: white;
}

.album-content span{
    color: #656565;
    font-weight: bold;
}

.album-content img{
    width: 100%;
}

/* SUGGESTED-ALBUMS / ARTIST */
.suggested-albums .albums-section,
.artist .albums-section{
    justify-content: normal;
}

.suggested-albums .albums-section .album-content:first-child,
.artist .albums-section .album-content:first-child{
    margin-right: 25px;
}

/* ARTIST */
.artist .albums-section .album-content img{
    border-radius: 50%;
}


/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
}

/* SELECT-ALBUM-SECTION */
.selected-album{
    display: flex;
    justify-self: flex-start;
    flex-direction: row;
    margin: 0 20px;
    width: 15%;

}

.album-name-like{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

.album-name-like img{
    width: 60px;
}

.like-share-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    font-size: 20px;
}

/* PLAY-SECTION */
.play-section{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.play-section-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}