/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

li{
    list-style-type: none;;
}

a{
    text-decoration: none;
    color: #656565;
    font-weight: bold;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 100px);
}

/* ASIDE */
aside{
    width: 300px;
    height: 100%;
    float: left;
    background-color: #000000;
}

.nav{
    width: 85%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav *{
    margin: 4px 0;
}

.logo{
    width: 100%;
    height: 100px;
    margin: 0;
}

.logo img:first-child{
    width: 65%;
    height: 100px;
    color: #d2d2d2;
}

.second-icon{
    display: none;
}

#line-menu-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.line-menu{
    width: 3px;
    height: 40px;
    background-color: #abfc2f;
    margin: 0 -3px;
}

.menu-home-search{
    margin-bottom: 30px;
}

.menu-home-search img, .useraccount-download img{
    width: 13%;
    vertical-align: middle;
}

.bookshelf{
    flex-grow: 1;
    overflow: hidden;
}

.new-list{
    overflow-y: auto;
    height: 100%;
}

.bookshelf ul li{
    margin: 20px 0;
}

.creaplaylist-btn{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.creaplaylist-btn i{
    background: #a3a3a3;
    padding: 7px 10px;
    font-size: 30px;
    color: black;
    margin-right: 15px;
}

.useraccount-download{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.useraccount-download span{
    margin: 0 7px;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #656565;
}

.account img{
    background-color: #808080;
    border-radius: 50%;
}

.download img{
    width: 10%;
}

@media screen and (max-width: 600px) {
    aside{
        width: 50px;
    }

    .logo{
        height: auto;
    }

    .logo img:first-child{
        display: none;
    }

    .second-icon{
        display: inline;
        filter: invert(1);
    }
    
    .nav span, .bookshelf, .line{
        display: none;
    }
    
    .menu-home-search{
        flex-grow: 1;
    }

    .menu-home-search img, .useraccount-download img{
        width: 80%;
    }    

}
/* MAIN-SECTION */
.main-section{
    width: calc(100% - 300px);
    height: 100%;
    float: left;
    background-color: #141922;
}

@media screen and (max-width: 600px) {
    .main-section{
        width: calc(100% - 50px);
    }
}
/* UPGRADE-BTN */
.upgrade-btn{
    width: calc(100% - 300px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 4;
}

.upgrade-btn a{
    padding: 12px 40px;
    border: 1px solid #fcfcfc;
    border-radius: 20px;
    font-size: 12px;
    margin: 0 10px;
}

@media screen and (max-width: 600px) {
    .upgrade-btn{
        width: calc(100% - 50px);
    }
}

/* MAIN-CONTENT */
.main-content{
    padding-top: 120px;
    width: 95%;
    height: 100%;
    margin: auto;
    overflow-y: auto;
}

.main-content-nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-content-nav li{
    margin: 0 10px;
}

.main-content-nav li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.line-nav{
    width: 30%;
    height: 2px;
    background-color: #abfc2f;
    margin: 3px 0;
}

/* ALBUMS */
.albums{
    margin: 40px 0;
}

.albums-section{
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.album-content{
    width: calc((100% / 6) - 20px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.album-content h4{
    margin: 15px 0 7px;
    color: white;
}

.album-content span{
    color: #656565;
    font-weight: bold;
}

.album-content img{
    width: 100%;
}

.image{
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-btn{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: 80px;
}

.image:hover .overlay{
    display: block;
    position: absolute;
    z-index: 1;
}

.image:hover .overlay .overlay-btn{
    display: block;
    position: absolute;
    z-index: 2;
}

@media screen and (max-width: 1099px) {
    .albums-section{
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
    }

    .album-content{
        width: calc((100% / 4) - 10px);
    }

    .albums-section > *{
        margin: 10px 5px;
    }

    .no-margin{
        margin-right: 0;
    }
}

@media screen and (max-width: 699px) {
    .albums-section{
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
    }

    .album-content{
        width: calc((100% / 2) - 10px);
    }

    .albums-section > *{
        margin: 10px 5px;
    }

    #no-margin{
        margin-right: 5px;
    }
}

/* SUGGESTED-ALBUMS / ARTIST */
.suggested-albums h2, .artist h2{
    margin: 20px 0;
}

.suggested-albums .albums-section,
.artist .albums-section{
    justify-content: normal;
}

.suggested-albums .albums-section .album-content:first-child,
.artist .albums-section .album-content:first-child{
    margin-right: 25px;
}

/* ARTIST */
.artist .albums-section .album-content img{
    border-radius: 50%;
}

.borderradius-overlay{
    border-radius: 50%;
}


/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* SELECT-ALBUM-SECTION */
.selected-album{
    display: flex;
    justify-self: flex-start;
    flex-direction: row;
    margin: 0 20px;
    width: 15%;
}

.album-name-like{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

.album-name-like img{
    width: 60px;
}

.album-name{
    margin: 0 10px;
}

.like-share-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    font-size: 20px;
}

/* PLAY-SECTION */
.play-section{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.play-section-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.play-section-btn a{
    font-size: 20px;
    color: white;
}

#play-btn{
    font-size: 40px;
}

.time-audio{
    display: flex;
    align-items: center;
    width: 65%;
}

.full-line{
    width: 475px;
    height: 5px;
    margin: 0 40px;
    background-color: #656565;
    border-radius: 20px;
}

.line-time{
    background-color: #b9b9b9;
    width: 25%;
    height: 100%;
    display: block;
    border-radius: 20px;
}

/* AUDIO-SECTION */
.audio-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.full-line-audio{
    width: 60%;
    height: 5px;
    background-color: #656565;
    border-radius: 20px;
}

.line-time-audio{
    background-color: #b9b9b9;
    width: 15%;
    height: 100%;
    display: block;
    border-radius: 20px;
}